In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Determine which values to replace if counts are less than ...?
application_type = application_df['APPLICATION_TYPE'].value_counts()
new_application_type = list(application_type[application_type < 500].index)

# Replace in dataframe
for app in new_application_type:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [21]:
classification = application_df['CLASSIFICATION'].value_counts()
# Determine which values to replace if counts are less than ..?
replace_class = list(classification[classification < 500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [22]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [23]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\yfaul\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True,right_index=True)
application_df = application_df.drop(columns = application_cat)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [25]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\yfaul\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 50
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 50)                2250

 dense_7 (Dense)             (None, 20)                1020

 dense_8 (Dense)             (None, 1)                 21

=================================================================
Total params: 3,291
Trainable params: 3,291
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000)

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 897us/step - loss: 0.5755 - accuracy: 0.7175
Epoch 2/100
804/804 [==============================] - 1s 943us/step - loss: 0.5554 - accuracy: 0.7302
Epoch 3/100
804/804 [==============================] - 1s 822us/step - loss: 0.5526 - accuracy: 0.7311
Epoch 4/100
804/804 [==============================] - 1s 781us/step - loss: 0.5502 - accuracy: 0.7315
Epoch 5/100
804/804 [==============================] - 1s 788us/step - loss: 0.5487 - accuracy: 0.7327
Epoch 6/100
804/804 [==============================] - 1s 786us/step - loss: 0.5486 - accuracy: 0.7334
Epoch 7/100
804/804 [==============================] - 1s 793us/step - loss: 0.5478 - accuracy: 0.7335
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7328
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7336
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7332
Epoch 11/100
804/804 [==============================] - 1s 989us/step - loss: 0.5455 - accuracy: 0.7339
Epoch 12/100
804/804 [==============================] - 1s 934us/step - loss: 0.5454 - accuracy: 0.7363
Epoch 13/100
804/804 [==============================] - 1s 932us/step - loss: 0.5442 - accuracy: 0.7349
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7341
Epoch 15/100
804/804 [==============================] - 1s 862us/step - loss: 0.5439 - accuracy: 0.7354
Epoch 16/100
804/804 [==============================] - 1s 823us/step - loss: 0.5442 - accuracy: 0.7353
Epoch 17/100
804/804 [==============================] - 1s 798us/step - loss: 0.5437 - accuracy: 0.7353
Epoch 18/100
804/804 [==============================] - 1s 788us/step - loss: 0.5430 - accuracy: 0.7363
Epoch 19/100
804/804 [==============================] - 1s 789us/step - loss: 0.5434 - accuracy: 0.7366
Epoch 20/100
804/804 [==============================] - 1s 789us/step - loss: 0.5431 - accuracy: 0.7363
Epoch 21/100
804/804 [==============================] - 1s 813us/step - loss: 0.5426 - accuracy: 0.7358
Epoch 22/100
804/804 [==============================] - 1s 808us/step - loss: 0.5422 - accuracy: 0.7362
Epoch 23/100
804/804 [==============================] - 1s 802us/step - loss: 0.5426 - accuracy: 0.7360
Epoch 24/100
804/804 [==============================] - 1s 793us/step - loss: 0.5419 - accuracy: 0.7370
Epoch 25/100
804/804 [==============================] - 1s 807us/step - loss: 0.5421 - accuracy: 0.7370
Epoch 26/100
804/804 [==============================] - 1s 798us/step - loss: 0.5423 - accuracy: 0.7364
Epoch 27/100
804/804 [==============================] - 1s 810us/step - loss: 0.5416 - accuracy: 0.7374
Epoch 28/100
804/804 [==============================] - 1s 879us/step - loss: 0.5411 - accuracy: 0.7374
Epoch 29/100
804/804 [==============================] - 1s 987us/step - loss: 0.5412 - accuracy: 0.7378
Epoch 30/100
804/804 [==============================] - 1s 963us/step - loss: 0.5409 - accuracy: 0.7379
Epoch 31/100
804/804 [==============================] - 1s 865us/step - loss: 0.5407 - accuracy: 0.7366
Epoch 32/100
804/804 [==============================] - 1s 798us/step - loss: 0.5411 - accuracy: 0.7363
Epoch 33/100
804/804 [==============================] - 1s 897us/step - loss: 0.5406 - accuracy: 0.7371
Epoch 34/100
804/804 [==============================] - 1s 935us/step - loss: 0.5406 - accuracy: 0.7380
Epoch 35/100
804/804 [==============================] - 1s 934us/step - loss: 0.5401 - accuracy: 0.7373
Epoch 36/100
804/804 [==============================] - 1s 825us/step - loss: 0.5403 - accuracy: 0.7381
Epoch 37/100
804/804 [==============================] - 1s 833us/step - loss: 0.5401 - accuracy: 0.7378
Epoch 38/100
804/804 [==============================] - 1s 848us/step - loss: 0.5400 - accuracy: 0.7383
Epoch 39/100
804/804 [==============================] - 1s 876us/step - loss: 0.5399 - accuracy: 0.7372
Epoch 40/100
804/804 [==============================] - 1s 961us/step - loss: 0.5399 - accuracy: 0.7375
Epoch 41/100
804/804 [==============================] - 1s 944us/step - loss: 0.5397 - accuracy: 0.7385
Epoch 42/100
804/804 [==============================] - 1s 943us/step - loss: 0.5396 - accuracy: 0.7381
Epoch 43/100
804/804 [==============================] - 1s 934us/step - loss: 0.5389 - accuracy: 0.7375
Epoch 44/100
804/804 [==============================] - 1s 928us/step - loss: 0.5394 - accuracy: 0.7389
Epoch 45/100
804/804 [==============================] - 1s 927us/step - loss: 0.5389 - accuracy: 0.7391
Epoch 46/100
804/804 [==============================] - 1s 937us/step - loss: 0.5391 - accuracy: 0.7387
Epoch 47/100
804/804 [==============================] - 1s 938us/step - loss: 0.5389 - accuracy: 0.7389
Epoch 48/100
804/804 [==============================] - 1s 949us/step - loss: 0.5385 - accuracy: 0.7384
Epoch 49/100
804/804 [==============================] - 1s 935us/step - loss: 0.5386 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 1s 918us/step - loss: 0.5385 - accuracy: 0.7388
Epoch 51/100
804/804 [==============================] - 1s 927us/step - loss: 0.5387 - accuracy: 0.7392
Epoch 52/100
804/804 [==============================] - 1s 922us/step - loss: 0.5385 - accuracy: 0.7391
Epoch 53/100
804/804 [==============================] - 1s 943us/step - loss: 0.5387 - accuracy: 0.7390
Epoch 54/100
804/804 [==============================] - 1s 921us/step - loss: 0.5382 - accuracy: 0.7391
Epoch 55/100
804/804 [==============================] - 1s 920us/step - loss: 0.5378 - accuracy: 0.7387
Epoch 56/100
804/804 [==============================] - 1s 927us/step - loss: 0.5383 - accuracy: 0.7396
Epoch 57/100
804/804 [==============================] - 1s 925us/step - loss: 0.5378 - accuracy: 0.7384
Epoch 58/100
804/804 [==============================] - 1s 914us/step - loss: 0.5382 - accuracy: 0.7392
Epoch 59/100
804/804 [==============================] - 1s 943us/step - loss: 0.5372 - accuracy: 0.7399
Epoch 60/100
804/804 [==============================] - 1s 919us/step - loss: 0.5379 - accuracy: 0.7388
Epoch 61/100
804/804 [==============================] - 1s 925us/step - loss: 0.5378 - accuracy: 0.7400
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7393
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 64/100
804/804 [==============================] - 1s 930us/step - loss: 0.5375 - accuracy: 0.7387
Epoch 65/100
804/804 [==============================] - 1s 921us/step - loss: 0.5375 - accuracy: 0.7394
Epoch 66/100
804/804 [==============================] - 1s 917us/step - loss: 0.5374 - accuracy: 0.7397
Epoch 67/100
804/804 [==============================] - 1s 939us/step - loss: 0.5375 - accuracy: 0.7389
Epoch 68/100
804/804 [==============================] - 1s 923us/step - loss: 0.5371 - accuracy: 0.7395
Epoch 69/100
804/804 [==============================] - 1s 939us/step - loss: 0.5374 - accuracy: 0.7392
Epoch 70/100
804/804 [==============================] - 1s 915us/step - loss: 0.5371 - accuracy: 0.7401
Epoch 71/100
804/804 [==============================] - 1s 916us/step - loss: 0.5374 - accuracy: 0.7393
Epoch 72/100
804/804 [==============================] - 1s 916us/step - loss: 0.5367 - accuracy: 0.7400
Epoch 73/100
804/804 [==============================] - 1s 931us/step - loss: 0.5369 - accuracy: 0.7399
Epoch 74/100
804/804 [==============================] - 1s 918us/step - loss: 0.5371 - accuracy: 0.7397
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7400
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7405
Epoch 77/100
804/804 [==============================] - 1s 922us/step - loss: 0.5367 - accuracy: 0.7390
Epoch 78/100
804/804 [==============================] - 1s 906us/step - loss: 0.5368 - accuracy: 0.7404
Epoch 79/100
804/804 [==============================] - 1s 920us/step - loss: 0.5367 - accuracy: 0.7400
Epoch 80/100

804/804 [==============================] - 1s 914us/step - loss: 0.5367 - accuracy: 0.7392
Epoch 81/100
804/804 [==============================] - 1s 903us/step - loss: 0.5366 - accuracy: 0.7406
Epoch 82/100
804/804 [==============================] - 1s 936us/step - loss: 0.5365 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7409
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7399
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7400
Epoch 87/100
804/804 [==============================] - 1s 952us/step - loss: 0.5362 - accuracy: 0.7409
Epoch 88/100
804/804 [==============================] - 1s 943us/step - loss: 0.5363 - accuracy: 0.7398
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7413
Epoch 90/100
804/804 [==============================] - 1s 970us/step - loss: 0.5363 - accuracy: 0.7403
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7410
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7406
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 95/100
804/804 [==============================] - 1s 963us/step - loss: 0.5358 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 1s 912us/step - loss: 0.5358 - accuracy: 0.7402
Epoch 97/100
804/804 [==============================] - 1s 908us/step - loss: 0.5358 - accuracy: 0.7404
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 99/100
804/804 [==============================] - 1s 978us/step - loss: 0.5358 - accuracy: 0.7400
Epoch 100/100
804/804 [==============================] - 1s 886us/step - loss: 0.5358 - accuracy: 0.7402

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5511 - accuracy: 0.7278 - 341ms/epoch - 1ms/step
Loss: 0.5511171221733093, Accuracy: 0.7278134226799011

In [33]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")